$color-primary: blue;

$color-white : white;

$color-gray : #111827;


.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100vh;
}

.textColor {
  color: $color-white;
}

.text {
  margin-top: 10px;
}

.inputStyle {
  margin-top: 8px;
  margin-bottom: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: $color-gray;
  border-radius: 15px;
}

.buttonStyle {
  background-color: #ff4a52;
  align-items: center;
  text-align: center;
  height: 43px;
  width: 100%;
  border-radius: 5px;

}

.buttonStyle:hover {
  background-color: #1EC6B6;
}

.BaseVideo {
  position: relative;
  width: 100%;
  height: 800px;
  object-fit: cover;

  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}


.image_base_style {
  position: relative;
  width: 100%;
}

.autocomplete {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;

  input {
    border-radius: 5px;
  }
}

.autocompleteSpan {
  width: auto;
  border: none;
  background: $color-white;
  position: absolute;
  border-radius: 5px;
}

.form_row_style {
  justify-items: center;
  align-items: center;
  text-align: center;
}

.heading_popular_destination {
  padding-top: 70px;
  justify-content: center;
  align-items: center;
  text-align: center;

  h3 {

    font-weight: 700;
  }

  h6 {
    padding-bottom: 51px;
  }
}


.image_item_popular_destinations {
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 10px;

  &:hover {
    position: relative;
    transform: translateY(-5px);
    box-shadow: 0 10px 8px 2px rgba(0, 0, 0, 0.1);
  }
}

.image_item_value_trip {
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 10px;
  position: relative;

  &:hover {
    position: relative;
    transform: translateY(-5px);
    box-shadow: 0 10px 8px 2px rgba(0, 0, 0, 0.3);
  }
}


.image_style {
  height: "300px";
  position: relative;

}

@media (min-width: 1200px) {
  .list_image {
    padding-left: 137px;
    padding-right: 137px;
  }


}

@media (max-width: 1200px) {
  .list_image {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 765px) {
  .footer_bar {
    display: flex;
    flex-direction: column-reverse;
  }

  .heading_popular_destination {
    h3 {
      font-size: 25px;
      font-weight: 700;
    }
  }

  .list_image {
    display: flex;
    flex-direction: column;
    width: 100%;
    object-fit: cover;
    padding-left: 20px;
    padding-right: 20px;
  }

  .BaseVideo {
    width: 100%;
    height: 650px;
  }

  .textHeader {
    top: 10%
  }

  .tour_search_form {
    display: flex;
    flex-direction: column;
  }

  .Autocomplete input {
    width: 20ch;
  }
}

.style_title {
  .css-dasnyc-MuiImageListItemBar-title {
    background: #1EC6B6;
    font-size: "150%";
    font-weight: 900;
  }

  .MuiImageListItemBar-subtitle {
    margin-top: 5px;
    font-size: 10px;
  }
}

.footer_list_bar {

  li a {
    display: block;
    padding: 8px;
    color: white;
    text-decoration: none;
  }

  li {
    float: right;
  }

  ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: inherit;
  }
}